
body {	

}

.container {
	width: 960px;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 100%;
}

/* TYPOGRAPHY */
 .moreinfo h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 72px;
	color: #f15156;
}

.banner p {
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #2d2824;
}

.moreinfo a{
	font-family: 'Cantarell', sans-serif;
	color: #2d2824;
	font-size: 30px;
	white-space: nowrap;
}

.ourstory h2{
	font-family: 'Fjalla One', sans-serif;
	font-size: 48px;
	color: #f15156;
}

.ourstory p{
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	color: #2d2824;
}

.location h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 48px;
	color: #e97275;
	padding-left: 150px;
	padding-right: 150px;
	white-space: nowrap;
	text-align: center;
}

.preorder {
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	color: #2d2824;
}

.location h2 {
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #2d2824;
}

.street {
	font-family: 'Cantarell', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #2d2824
}

.location {
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	color: #2d2824;
}

.contactuspage h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 72px;
	color: #f15156;
}

.extrainfo{
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	color: #2d2824;
}


/* HEADER */
.logo {
	margin-left: 50px;
	padding-top: 12px;
	padding-bottom: 11px;
}

nav a {
	text-decoration: none;
	color: #37342f;
}

header nav a:hover {
	border-bottom: 2px solid #37342f;
}

nav li{
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
}

.questions {
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #2d2824;

}


.pageheader {
display: flex;
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 48px;
	line-height: 100px;
}

.pageheader nav {
	margin-left: 450px;
}

.pageheader {
	background-image: url(../img/opaqueBackground.png);
}

.banner {
	background-image: url(../img/hero_banner.jpg);
	background-size: cover;
	padding-bottom: 276px;
	margin-bottom: 100px;
}

.moreinfo h1 {
	margin-top: 313px;
	margin-left: 258px;
	margin-right: 252px;
}

.banner p {
	margin-left: 258px;
	margin-right: 252px;
}

.moreinfo a {
	margin-left: 435px;
	margin-right: 430px;
	margin-bottom: 292px;
}

.moreinfo a {
	text-decoration: none;
	color: #faefef;
}


.moreinfo {
	background-image: url(../img/Bodycolor.png);
	background-repeat: no-repeat;
	background-position: 200px 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.moreinfo a {
	display: inline-block;
	background-color: #f15156;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 46px;
	padding-left: 46px;
	margin-top: 33px;
	margin-right: 373px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

.moreinfo a:hover {
	border-bottom: 2px solid#faefef;
}

.market{
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2d2824;
}


/* OUR STORY */

.ourstory {
display: flex;
flex-wrap: wrap;
}


.ourstory h2 {
	padding-left: 134px;
	padding-right: 135px;
	padding-bottom: 22px;
	padding-top: 55px;
}

.ourstory p {
	padding-left: 45px;
	padding-right: 47px;
}

.pastryflex {
	width:434px;
}

.ourstory h2{
	white-space: nowrap;
}

.ourstory p {
	line-height: 18px;
	padding-bottom: 20px;
}

.ourstory h2 {
	background-image: url(../img/ourstorycolor.png);
}

.ourstory p {
	background-image: url(../img/ourstorycolor.png);
}


/* FIND US */

.location {
	margin-top: -180px;
}

.location h1 {
	margin-top: 44px;
	padding-bottom: 46px;
}

.location h2 {
	margin-bottom: 21px;
}

.flexitems {
	padding-left: 102px;
	padding-right: 87px;
	width: 131px;
}

.location {
	display: flex;
	flex-wrap: wrap;
}

.preorder {
	padding-bottom: 46px;
	padding-left: 46px;
}

.street {
	padding-bottom: 15px;
}

.location p{
	white-space: nowrap;
}

.location h2 {
	margin-top: 63px;
}

.opens {
	padding-top: 23px;
}

.location {
	background-image: url(../img/dough_backgroundimage.jpg);
	background-repeat: no-repeat;
	margin-top: 101px;
}

.opens {
	margin-bottom: 58px;
}

.flexitems {
	padding-right: 30px;
}

.location {
	line-height: 16px;
}





/* CONTACT US PAGE */
.logo2 {
	margin-left: 50px;
	padding-top: 12px;
	padding-bottom: 11px;
}

.pageheader2 {
	display: flex;
}

.banner2 nav ul {
	display: flex;
}

.pageheader2 nav li {
	margin-left: 48px;
	line-height: 100px;
	margin-right: 15px;
}

.pageheader2 nav ul{
	margin-left: 350px;
	white-space: nowrap;
}

.pageheader2 {
	background-image: url(../img/opaqueBackground.png);
}

.contactuspage{
	background-image: url(../img/contact_us_background.jpg);
}

.contacuspage{
	padding: 0;
	margin: 0;
}

.contactuspage h1 {
	padding-left: 320px;
	padding-right: 315px;
	padding-top: 160px;
	text-align: center;
}

.contactus{
	background-image: url(../img/contact_us_opaque.png);
	background-repeat: no-repeat;
	background-position: center top 97px;
}

form{
	background-image: url(../img/contact_us_opaque.png);
	background-repeat: no-repeat;
	background-position: center bottom 98px;
}

.questions {
	margin-left: 259px;
	margin-right: 317px;

}

.market{
	margin-left: 254px;
	margin-right: 392px;
}

.extrainfo{
	margin-left: 254px;
	margin-right: 392px;
}

.questions{
	padding-bottom: 28px;
}

.extrainfo{
	padding-bottom: 13px;
}

.lineborder hr{
	border-top: 2px solid black;
	height: 2px;
	width: 440px;
	color: #2d2824;
	margin-top: 34px;
}







/* FORM */
label {
	font-family: 'Cantarell', sans-serif;
	font-size: 18px;
	color: #504b4a;
	display: block;
}

input {
	background-color: #faefef;
	border:1px solid #000000;
	line-height: 40px;
	width: 437px;
}

.send {
	margin-top: 100px;
	margin-left: 450px;
	margin-right: 450px;
	text-align: center;

}

.your-name{
	padding-top: 78px;
	margin-left: 257px;
}

.email-address{
	margin-left: 257px;
}

.message{
	margin-left: 257px;
}

button{
	border:none;
	background:none;
}

button{
	display: inline-block;
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #faefef;
	background-color: #f15156;
	padding-left: 53px;
	padding-right: 53px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 5px;
	margin-bottom: 150px;
}

textarea{
	max-width: 435px;
	min-width: 435px;
	max-height: 148px;
	min-height: 148px;
}

.send button:hover {
	cursor: pointer;
}

.your-name{
	padding-bottom: 12px;
}

.email-adress{
	padding-bottom: 12px;
}

.message{
	padding-bottom: 12px;
}

input{
	padding-bottom: 12px;
}





/* FOOTER */

.socialmedia{
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #37342f;
	padding-left: 248px;
	padding-right: 246px;
	white-space: nowrap;
	padding-top: 36px;
	margin-bottom: 19px;

}

.end{
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	padding-bottom: 48px;
	text-align: center;
	margin-right: 20px;
	white-space: nowrap;
	margin-left: -285px;
}

.footer a{
	padding-left: 15px;
}

.footerimages{
	margin-left:300px;
	margin-right: 300px;
}

.footer{
	background-image: url(../img/footer_background.jpg);
}

.socialmedia{
	margin-left: -43px;
}

.end{
	padding-top: 27px;
}

.end{
	text-align: center;
	padding-top: 27px;
	padding-left: 295px;
}

/* FOOTER */

.socialmedia2{
	font-family: 'Cantarell', sans-serif;
	font-size: 24px;
	color: #37342f;
	padding-left: 248px;
	padding-right: 246px;
	white-space: nowrap;
	padding-top: 36px;
	margin-bottom: 19px;

}

.end2{
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	padding-bottom: 48px;
	text-align: center;
	margin-right: 20px;
	white-space: nowrap;
	margin-left: -285px;
}

.footer2 a{
	padding-left: 15px;
}

.footerimages2{
	margin-left:300px;
	margin-right: 300px;
}

.footer2{
	background-image: url(../img/footer_background.jpg);
}

.socialmedia2{
	margin-left: -43px;
}

.end2{
	text-align: center;
	padding-top: 27px;
	padding-left: 295px;
}